.nav-link{
    color: aliceblue;
    font-weight: bold
}
.navbar-brand{
    font-weight: bold;
}
body, html {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
  }
  
#sec1{ 
    background-image: url("/bg2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

#sec1-t{
    font-weight: bold;
    color:black;
    padding-top: 20rem;
    
}

#sec1-p1{
    padding-top: .5rem;
}

#sec2{
    background-image:linear-gradient(to bottom right, #e6e6e6, aliceblue,  #3d5afe);
    height: 100%;
}

#sec2-div1{
    padding-top: 12rem;
    color: black;

}

#sec2-div2{
    background-color: aliceblue
}

#git-link{
    padding-left: 2rem;

}

#sec3{
    background-color: #3d5afe;
    height: 100%;
}

#sec3-div1{
    padding-top: 8rem;
    color: black;

}

#sec3-div2{
    background-color: aliceblue
}

.heading{
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 2rem
}